<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferSize="999999999" maxReceivedMessageSize="999999999">
          <readerQuotas maxArrayLength="999999999" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao" contract="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update" contract="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_QuanXianZu">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.用户权限管理.BLL_authCheck">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.用户权限管理.BLL_authCheck" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.订单管理.DingDanGuanLi">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.订单管理.DingDanGuanLi" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.订单管理.DingDanGuanLi_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.订单管理.DingDanGuanLi_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert" contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi" contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert"
          contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update"
          contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" contract="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.订单管理.DingDanGuanLi_Insert">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.订单管理.DingDanGuanLi_Insert" contract="BLL物流管理系统.订单管理.DingDanGuanLi_Insert" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" contract="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan" contract="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi" contract="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi" contract="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" contract="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai" contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update" contract="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.出车登记.FRM_ChuCheDengJi">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.出车登记.FRM_ChuCheDengJi" contract="BLL物流管理系统.出车登记.FRM_ChuCheDengJi" />
      </service>
      <service behaviorConfiguration="serviceBehaviors" name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" contract="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" />
      </service>
      <service behaviorConfiguration="BLL" name="BLL物流管理系统.Login">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          name="BLL物流管理系统.Login" contract="BLL物流管理系统.Login" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

        <behavior name="BLL">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao.svc"
          service="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao" />
        <add relativeAddress="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update.SVC"
          service="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuoFenBao_Update" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian.svc"
          service="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert.svc"
          service="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Insert" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update.svc"
          service="BLL物流管理系统.用户权限管理.BLL_YongHuQuanXian_Update" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu.svc"
          service="BLL物流管理系统.用户权限管理.BLL_XuanZheQuanXianZu" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_QuanXianZu.svc" service="BLL物流管理系统.用户权限管理.BLL_QuanXianZu" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert.svc"
          service="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Insert" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update.svc"
          service="BLL物流管理系统.用户权限管理.BLL_QuanXianZu_Update" />
        <add relativeAddress="BLL物流管理系统.用户权限管理.BLL_authCheck.svc" service="BLL物流管理系统.用户权限管理.BLL_authCheck" />
        <add relativeAddress="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi.svc"
          service="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi" />
        <add relativeAddress="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert.svc"
          service="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Insert" />
        <add relativeAddress="BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou.svc"
          service="BLL物流管理系统.司机管理.BLL_FRM_XuanZheJiGou" />
        <add relativeAddress="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update.svc"
          service="BLL物流管理系统.司机管理.BLL_FRM_SiJiGuanLi_Update" />
        <add relativeAddress="BLL物流管理系统.订单管理.DingDanGuanLi.svc" service="BLL物流管理系统.订单管理.DingDanGuanLi" />
        <add relativeAddress="BLL物流管理系统.订单管理.DingDanGuanLi_Insert.svc"
          service="BLL物流管理系统.订单管理.DingDanGuanLi_Insert" />
        <add relativeAddress="BLL物流管理系统.订单管理.DingDanGuanLi_Update.svc"
          service="BLL物流管理系统.订单管理.DingDanGuanLi_Update" />
        <add relativeAddress="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert.svc"
          service="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Insert" />
        <add relativeAddress="BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai.svc"
          service="BLL物流管理系统.配载发货.PeiZaiFaHuo_ShiShiPeiZai" />
        <add relativeAddress="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai.svc" service="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai" />
        <add relativeAddress="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update.svc"
          service="BLL物流管理系统.配载发货.PeiZaiFaHuoPeiZai_Update" />
        <add relativeAddress="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuo.svc" service="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuo" />
        <add relativeAddress="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuo_FenBao_Insert.svc"
          service="BLL物流管理系统.配载发货.FRM_PeiZaiFaHuo_FenBao_Insert" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi.svc"
          service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert.svc"
          service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Insert" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update.svc"
          service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_WangDianGuanLi_Update" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert.svc"
          service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Insert" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi.svc" service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi" />
        <add relativeAddress="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update.svc"
          service="BLL物流管理系统.线路管理.FRM_XianLuGuanLi_Update" />
        <add relativeAddress="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao.svc"
          service="BLL物流管理系统.报表统计.FRM_DingDanBaoBiao" />
        <add relativeAddress="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan.svc"
          service="BLL物流管理系统.报表统计.FRM_BaoBiaoDingDanLiuLan" />
        <add relativeAddress="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi.svc" service="BLL物流管理系统.报表统计.FRM_YeWuYuanYeJi" />
        <add relativeAddress="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi.svc"
          service="BLL物流管理系统.报表统计.FRM_ShenHeHuoPinTongJi" />
        <add relativeAddress="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng.svc"
          service="BLL物流管理系统.报表统计.FRM_YuanGongGongZuoZheng" />
        <add relativeAddress="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai.svc"
          service="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai" />
        <add relativeAddress="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert.svc"
          service="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Insert" />
        <add relativeAddress="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update.svc"
          service="BLL物流管理系统.车辆状态.FRM_CheLiangZhuangTai_Update" />
        <add relativeAddress="BLL物流管理系统.出车登记.FRM_ChuCheDengJi.svc" service="BLL物流管理系统.出车登记.FRM_ChuCheDengJi" />
        <add relativeAddress="BLL物流管理系统.出车登记.FRM_DaoDaDengJi.svc" service="BLL物流管理系统.出车登记.FRM_DaoDaDengJi" />
        <add relativeAddress="BLL物流管理系统.Login.svc" service="BLL物流管理系统.Login" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
